@tailwind base;
@tailwind components;
@tailwind utilities;

main{
	min-height: 100vh;
	height: 100%;
	padding: 2em;
}
.switch-btn{
	position: absolute;
	top: 28px;
	right: 28px;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
.todo-list{
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.todo-card{
	transition: all 0.3s ease-out;
}
.todo-card__container{
	border-radius: 30px;
}
.todo-card__title{
	padding: 12px 12px 5px 17px;
	font-size: 23px;
	letter-spacing: 1px;
}
.todo-card__task{
	padding: 5px 12px 0px 17px;
	letter-spacing: 0.3px;
}
.btns{
	padding-right: 15px;
	font-size: 22px;
}
.calender{
	padding: 0 0 0px 12px;
}
.calender__icon{
	font-size: 1.3em;
	margin-right: 5px;
}
.checkbox-label{
	padding-right: 17px;
	cursor: pointer;
}