@tailwind base;
@tailwind components;
@tailwind utilities;

main{
	height: 100vh;
	padding: 2em;
}
.switch-btn{
	position: absolute;
	top: 28px;
	right: 28px;
}
.container{
	max-width: 1280px;
	margin: 0 auto;
}
.todo-list{
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.todo-card{
	
}